<%- include('../partials/admin-header.ejs') %>

<section class="content-main">
    
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons</h2>
        </div>
        <div>
            <a href="/admin/coupons/add-coupon" class="btn btn-primary">Add Coupon</a>
        </div>
    </div>

    <% if (coupons.length === 0) { %>
        <h5>No coupons found</h5>
    <% } else { %>
        <div class="container pt-5">
            
            <div class="table-responsive ">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead >
                        <tr>
                            <th class="small-column">S.No.</th>
                            <th>Name</th>
                            <th> Starting date </th>
                            <th> Expiry date </th>
                            <th> Minimum amount </th>
                            <th> Discount type </th>
                            <th> Discount </th> 
                            <th>Status</th>
                            <th>List/Unlist</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody >
                        <% for (let i = 0; i < coupons.length; i++) { %>
                            <tr>
                                <td class="small-column text-center"><%= i+1 %></td>
                                <td><%= coupons[i].name %></td>
                                <td><%= coupons[i].startingDate.toDateString() %></td>
                                <td><%= coupons[i].expiryDate.toDateString()  %></td>
                                <td class="text-center"><%= coupons[i].minimumAmount %></td>
                                <td><%= coupons[i].discountType %></td>
                                <td ><%= coupons[i].discount %></td>
                                <% if (coupons[i].status === true) { %>
                                    <td>Listed</td>
                                
                                <% } else { %>
                                    <td>Unlisted</td>
                                <% } %>
                                
            
                                <% if (coupons[i].status === true) { %>
                                    <td>
                                        <a href="/admin/coupons/unlist-coupon?id=<%= coupons[i]._id %>" id="unlistbutton" class="btn btn-danger px-3 redbutton">Unlist</a>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <a href="/admin/coupons/list-coupon?id=<%= coupons[i]._id %>" id="listbutton" class="btn btn-primary px-3 bluebutton">List</a>
                                    </td>
                                <% } %>
                                <td>
                                    <a href="/admin/coupons/edit-coupon?id=<%= coupons[i]._id %>">
                                        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #0055ff;margin-left: 20px;"></i>
                                    </a>
                                    <!-- <a href="/admin/coupons/delete-coupon?id=<%= coupons[i]._id %>">
                                        <i class="fa-solid fa-trash fa-xl" style="color: #ff0000;margin-right: 20px;"></i>
                                    </a> -->
                                </td>
                            </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
            
        
        </div>
    <% } %>
</section> <!-- content-main end// -->   

<%- include('../partials/admin-footer.ejs') %>