<%- include('../partials/admin-header.ejs') %>

<div class="content-header">
    <div>
        <h2 class="content-title card-title">Edit Category</h2>
    </div>
    <div>
        <a href="/admin/categories/" class="btn btn-outline-dark">Go Back</a>
    </div>
</div>

<div class="content-wrapper">

    <!-- ======= Form ======== -->

    <div class="col-6 grid-margin stretch-card">
        <div class="card" style="margin-top: 60px; margin-left: 60px;">
          <div class="card-body">
            <div class="card-title mb-3">Edit Category Details</div>
            <form class="forms-sample my-3" action="/admin/categories/edit-category" method="POST" id="category">
              <div id="errorContainer" class="alert alert-danger" style="display: none;"></div> <!-- Error container -->
              <div class="form-group my-3">
                <label for="category-field">Category Name</label>
                <input type="text" name="name" class="form-control my-3" value="<%= category.name %>" id="category-field">
                <!-- <label for="category-status">Category Status</label>
                <input type="text" name="status" class="form-control" value="<%= category.status ? 'listed' : 'unlisted' %>" id="category-status"> -->
                <input type="hidden" value="<%= category._id %>" name="categoryId">
              </div>
              <button type="submit" class="btn btn-primary  mr-2 ">Update</button>    
              <button type="submit" class="btn  mr-2"><a class="btn btn-outline-danger" href="/admin/categories/">Cancel</a></button>

            </form>
          </div>
        </div>
      </div>



</div>
<%- include('../partials/admin-footer.ejs') %>