<%- include('../partials/admin-header.ejs') %>

<section class="content-main">

    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products</h2>
        </div>
        <div>
            <a href="/admin/products/add-product" class="btn btn-primary">Add Product</a>
        </div>
    </div>
    <div class="container pt-5">
    
       <div class="table-responsive ">
            <table id="example" class="table table-striped " style="width:100%">
                <thead>
                    <tr>
                        <th class="small-column">S.No.</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Status</th>
                        <th>List/Unlist</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < products.length; i++) { %>
                        <tr>
                            <td class="small-column text-center"><%= i+1 %></td>
                            <td>
                                <img style="width: 80px; height: 80px;" src="/admin/productImages/<%= products[i].image[0] %>" alt="test">
                            </td>
                            <td><%= products[i].name %></td>
                            <td><%= products[i].category.name %></td>
                            <td><%= products[i].brand %></td>
                            <td><%= products[i].price %></td>
                            <td><%= products[i].quantity %></td>
                            <% if (products[i].status === true) { %>
                                <td>Listed</td>
                            
                            <% } else { %>
                                <td>Unlisted</td>
                            <% } %>
                            
    
                            <% if (products[i].status === true) { %>
                                <td>
                                    <a href="#" onclick="confirmUnlist('<%= products[i]._id %>')" id="unlistbutton" class="btn btn-danger px-3 redbutton">Unlist</a>
                                </td>
                            <% } else { %>
                                <td>
                                    <a href="/admin/products/list-product?id=<%= products[i]._id %>" id="listbutton" class="btn btn-primary px-3 bluebutton">List</a>
                                </td>
                            <% } %>
                            <td>
                                <a href="/admin/products/edit-product/<%= products[i]._id %>">
                                    <i class="fa-solid fa-pen-to-square fa-xl" style="color: #0055ff;margin-left: 20px;"></i>
                                </a>
                                <!-- <a href="/admin/products/delete-product?id=<%= products[i]._id %>">
                                    <i class="fa-solid fa-trash fa-xl" style="color: #ff0000;margin-right: 20px;"></i>
                                </a> -->
                            </td>
                        </tr>
                    <% } %>
                    
                </tbody>
                
            </table>
            <br><br>
       </div>

       <br><br><br>
    
    </div>
    

</section> <!-- content-main end// --> 

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmUnlist(productId) {
        // Display a confirmation dialog using SweetAlert2
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to unlist this product!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, unlist it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the admin clicks "Yes," navigate to the unlist URL
                window.location.href = "/admin/products/unlist-product?id=" + productId;
            }
            // If the admin clicks "No" or closes the dialog, do nothing
        });
    }
</script>


<%- include('../partials/admin-footer.ejs') %>