<%- include('../partials/user-header.ejs') %>
  
    <main class="main">
    
        <section class="mt-50 mb-50">
            <div class="container">

                <div class="row">

                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Choose Delivery Address</h4>
                            </div>

                            <a href="/checkout/add-address" class="btn btn-main btn-fill-out btn-sm mt-10">Add Address</a>

                            <div class="p-2 mt-3 mb-3">
                                <div class="payment_method mt-30">
                                    <div class="mb-25">
                                        <h4>Choose Payment Method</h4>
                                    </div>
                                    <div class="payment_option">
                                        
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios1" checked="">
                                            <label class="form-check-label" for="exampleRadios1" data-bs-toggle="collapse" data-target="" aria-controls="">Cash On Delivery</label>
                                        </div>
    
                                        <!-- <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios2" checked="">
                                            <label class="form-check-label" for="exampleRadios2" data-bs-toggle="collapse" data-target="" aria-controls="">Razor Pay</label>
                                        </div> -->
                                        
                                    </div>
                                </div>
                            </div>
        
                            
                        </div>
                    </div>

                    <div class="col-md-6">
                        <% if(cartItems && cartItems.items && cartItems.items.length > 0) { %>

                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
    
                                        
    
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Product</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
    
                                            <tbody>
    
                                                <% for (let i = 0; i < cartItems.items.length; i++) { %>
    
                                                    <tr>
                                                        <td class="image product-thumbnail"><img src="/admin/productImages/<%= cartItems.items[i].productId.image[0] %>" alt="#"></td>
                                                        <td>
                                                            <h5><a href="shop-product-full.html"><%= cartItems.items[i].productId.name %></a></h5> <span class="product-qty">x <%= cartItems.items[i].quantity %></span>
                                                        </td>
                                                        <td>₹<%= (cartItems.items[i].productId.price * cartItems.items[i].quantity).toFixed(2) %></td>
                                                    </tr>
    
    
                                                <% } %>                                        

                                                <tr>
                                                    <th colspan="3" class="fw-bold">Cart Totals</th> 
                                                </tr>

                                                <tr>
                                                    <th>Subtotal</th>
                                                    <td class="product-subtotal" colspan="2">₹<%= totalPrice %></td>
                                                </tr>
    
                                                <tr>
                                                    <th>Shipping</th>
                                                    <td colspan="2"><em>Free Shipping</em></td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹<%= totalPrice %></span></td>
                                                </tr>
                                            </tbody>
                                        
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                                <a href="/cart" class="btn btn-secondary btn-sm btn-fill-out btn-block mt-10">Go Back</a>
                                
                                
                            </div>

                            <div class="payment_method mt-30">
                                <div class="mb-25">
                                    <h4>Choose Payment Method</h4>
                                </div>
                                <div class="payment_option">
                                    
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios1" checked="">
                                        <label class="form-check-label" for="exampleRadios1" data-bs-toggle="collapse" data-target="" aria-controls="">Cash On Delivery</label>
                                    </div>

                                    <!-- <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios2" checked="">
                                        <label class="form-check-label" for="exampleRadios2" data-bs-toggle="collapse" data-target="" aria-controls="">Razor Pay</label>
                                    </div> -->
                                    
                                </div>
                            </div>

                        <% } else{ %>

                            <h1>Your Cart is Empty</h1>
    
                        <% } %>

                        <% if(typeof message !=='undefined' ){ %>
                            <h6><br>
                                <%= message %>
                            </h6>
                        <% } %>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

 <%- include('../partials/user-footer.ejs') %>