<%- include('../partials/user-header.ejs') %>
  
    <main class="main">
    
        <section class="mt-50 mb-50">
            <div class="container">

                <!-- <div class="row"> -->

                    <form id="checkout-form" class="row">

                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4 class="fw-bold">Choose Delivery Address</h4>
                                </div>
    
                                <a href="/checkout/add-address" class="btn btn-main btn-fill-out btn-sm mt-10">Add Address</a>
    
                                <div class="p-2 mt-3 mb-3">
                                    <% if( address && address.length > 0) { %>
                                        <% for ( let items of address ){ %>
                                            <div class="card mt-3 mb-3">
                                                <div class="card-body">
                                                    <div id="addressdiv-<%= items._id %>" class="row pl-lg-5 address mb-4">
    
                                                        <div class="form-check green_radio">
    
                                                            <input type="radio" name="addressId" id="address_<%= items._id %>" class="form-check-input" value="<%= items._id %>">
    
                                                            <label for="address_<%= items._id %>" class="form-check-label ms-2">
    
                                                                <p><%= `${items.name}` %></p> 
                                                                <p>Mobile : <%=` ${items.mobile}` %></p> 
                                                                <p><%= `${items.address},${items.locality}, ${items.city}, Near ${items.landmark},
                                                                    PIN Code :  ${items.pincode}, ${items.state},${items.country}` %> </p>
                                                                    
                                                            </label>
                                                        
                                                        </div>
                                                            
                                                        <div class="row buttons">
                                                            <div class="col">
                                                                <hr style="color: #86868662;">
                                                                <a class="btn btn-dark btn-sm " href="/checkout/edit-address?id=<%= items._id %>">Edit Address</a>
                                                            </div>
                                                            <div class="col">
                                                                <hr style="color: #86868662;">    
                                                                <a class="btn btn-danger btn-sm " href="/checkout/remove-address?id=<%= items._id %>">Remove Address</a>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        <% } %>
                                    <% } else{ %>
                
                                        <h5>Please Add an address</h5>
                
                                    <% } %>
    
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                
                                    <!-- <a href="/profile/addresses" class="btn btn-main btn-fill-out btn-block mt-30">Proceed To Payment</a> -->
    
                                </div>
            
                                
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <% if(cartItems && cartItems.items && cartItems.items.length > 0) { %>
    
                                <div class="order_review">
                                    <div class="mb-20">
                                        <h4 class="fw-bold">Your Orders</h4>
                                    </div>
                                    <div class="table-responsive order_table text-center">
                                        <table class="table">
        
                                            
        
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">Product</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
        
                                                <tbody>
        
                                                    <% for (let i = 0; i < cartItems.items.length; i++) { %>
        
                                                        <tr>
                                                            <td class="image product-thumbnail"><img src="/images/cropped/<%= cartItems.items[i].productId.image[0] %>" alt="#"></td>
                                                            <td>
                                                                <h5><a href="shop-product-full.html"><%= cartItems.items[i].productId.name %></a></h5> <span class="product-qty">x <%= cartItems.items[i].quantity %></span>
                                                            </td>
                                                            <td>₹<%= (cartItems.items[i].productId.price * cartItems.items[i].quantity).toFixed(2) %></td>
                                                        </tr>
        
        
                                                    <% } %>                                        
    
                                                    <tr>
                                                        <th colspan="3" class="fw-bold">Cart Totals</th> 
                                                    </tr>
    
                                                    <tr>
                                                        <th>Subtotal</th>
                                                        <td class="product-subtotal" colspan="2">₹<%= totalPrice %></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Coupon Discount</th>
                                                        <td class="product-subtotal" id="discount" colspan="2">₹ 0</td>
                                                    </tr>
        
                                                    <tr>
                                                        <th>Shipping</th>
                                                        <td colspan="2"><em>Free Shipping</em></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total</th>
                                                        <td colspan="2"  class="product-subtotal font-xl text-brand fw-900"><span id="total1">₹<%= totalPrice %></span></td>
                                                    </tr>
                                                </tbody>
                                            
                                        </table>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
    
                                    <!-- <a href="/cart" class="btn btn-secondary btn-sm btn-fill-out btn-block mt-10">Go Back</a> -->
                                    
                                    
                                </div>

                                <div class="shoping__discount mt-50 mb-50 ml-30">
                                    <div class="mb-25">
                                        <h4 class="fw-bold">Coupon Code</h4>
                                    </div>

                                    <div class="shoping__discount">

                                        <div id="apply-coupon-form-container">
                                            <form action="">
                                                <input type="text" placeholder="Enter your coupon code"
                                                    id="code" >
                                                <button id="applyCouponButton" type="button"
                                                    class="btn btn-main btn-md mt-30">APPLY COUPON</button>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>

                                <% if(user.wallet && user.wallet > 0) { %>

                                    <div class="payment_method mt-50 mb-50 ml-30">
                                        <div class="mb-25">
                                            <h4 class="fw-bold">Wallet</h4>
                                        </div>
                                        <div class="payment_option">
                                            
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="wallet" id="wallet" value="<%= user.wallet %>">
                                                <label class="form-check-label" for="wallet" data-bs-toggle="collapse" data-target="" aria-controls="">Use Wallet Amount</label>
                                            </div>
                                            <div>Wallet Balance:<span class="fw-bold"> ₹ <%= user.wallet %> </span></div>

                                        </div>
                                    </div>

                                <% } %>
    
                                <div class="payment_method mt-50 mb-50 ml-30">
                                    <div class="mb-25">
                                        <h4 class="fw-bold">Choose Payment Method</h4>
                                    </div>
                                    <div class="payment_option">
                                        
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="paymentMethod" id="COD" value="COD" checked="">
                                            <label class="form-check-label" for="COD" data-bs-toggle="collapse" data-target="" aria-controls="">Cash On Delivery</label>
                                        </div>
    
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="paymentMethod" id="razorpay" value="razorpay" checked="">
                                            <label class="form-check-label" for="razorpay" data-bs-toggle="collapse" data-target="" aria-controls="">Online Payment</label>
                                        </div>
                                        
                                    </div>
                                </div>
    
                            <% } else{ %>
    
                                <h1>Your Cart is Empty</h1>
        
                            <% } %>
    
                            <% if(typeof message !=='undefined' ){ %>
                                <h6><br>
                                    <%= message %>
                                </h6>
                            <% } %>

                            <button onclick="submitForm()" class="btn btn-main btn-lg ml-30">PLACE ORDER</button>
                            
                        </div>

                    </form>

                    
                <!-- </div> -->
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


 
    <script>

        function submitForm() {   
        
            try {
                const addressRadio = document.querySelector('input[name="addressId"]:checked');
                const paymentMethodRadio = document.querySelector('input[name="paymentMethod"]:checked');
                const walletCheckbox = document.querySelector('input[name="wallet"]:checked');
                const checkoutT = document.getElementById('total1').innerHTML;
                const checkoutTotal = checkoutT.replace(/[^\d.]/g, ''); // Remove non-numeric characters, including ₹ symbol;

                let walletAmount;
                if(walletCheckbox){
                    walletAmount = walletCheckbox.value;
                }
                console.log('checkoutTotal is ',checkoutTotal);
                console.log('wallet amount is ',walletAmount);

                if (!addressRadio || !paymentMethodRadio) {

                    alert("Please select an address and payment method.");
                    return;
                }
                
                const addressId = addressRadio.value;
                const paymentMethod = paymentMethodRadio.value;
                console.log(paymentMethod);
                      
                
                $("#checkout-form").submit((e) => {
                    e.preventDefault();
                    $.ajax({
                        url: '/checkout',
                        method: 'post',
                        data: { addressId, paymentMethod,checkoutTotal,walletAmount },
                        success: (order) => {
                            console.log(order);
                            if (order.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Order Placed!',
                                    text: 'Your order has been placed successfully.',
                                    confirmButtonText: 'OK',
                                    onClose: () => {
                                        location.href = '/confirm-order';
                                    }
                                });
                            }else{
                                console.log("Before razorpayPayment");
                                razorpayPayment( order.payment );
                                console.log("After razorpayPayment");

                            }
                        },
                        error: (xhr) => {
                            // Handle the error response and show an alert
                            const errorMessage = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : 'An error occurred.';
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: errorMessage,
                                confirmButtonText: 'OK'
                            });
                        }
                        });
                });
            } catch (error) {
                console.log(error.message);
            }
        
        }

        function razorpayPayment( order ) {

            console.log('Razorpay Payment Function Called');
            const rzp_key = '<%= process.env.RAZORPAY_KEY_ID %>'
            console.log(rzp_key);

            var options = {
                "key": rzp_key, // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Carmine", //your business name
                "description": "Test Transaction",
                "image": "/assets/imgs/theme/logo.svg",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    verifyPayment( response, order )
                },
                "notes": {
                    "address": "Carmine office"
                },
                "theme": {
                    "color": "#2300a3"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function verifyPayment(response, order) {
            console.log('Inside verify fn');
            // const amount = document.getElementById("total1").innerHTML;
            
            $.ajax({
                url: "/verifyPayment",
                method: "post",
                data: {
                    response,
                    order
                },
                success: (response) => {
                    if (response.success) {
                        location.href = '/confirm-order';

                    } else {
                        alert('payment failed');
                        location.href = '/';
                    }
                }
            })
        }        

        document.getElementById('applyCouponButton').addEventListener('click', function () {
            const couponCode = document.getElementById('code').value;
            applyCoupon(couponCode);
        });


        function applyCoupon(code){
            
            const amountElement = document.getElementById('total1');

            if (amountElement) {
                
                const amount = amountElement.innerHTML;
                console.log('Amount is',amount);

                $.ajax({
                    url: "/applyCoupon",
                    data:{
                        code: code,
                        amount: amount
                    },
                    method: "post",
                    success: (response) => {
                        console.log(response);
                        if (response.user) {
                            console.log("You have already used this coupon");
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'This coupon is already used by you!'
                            })
                        } else if (response.limit) {
                            console.log("coupon limit exceeded");
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Coupon limit exceeded!'
                            })
                        } else if (response.status) {
                            console.log("This coupon is not in use now!");
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'This coupon is not in use now!'
                            })
                        } else if (response.cartAmount) {
                            console.log("You cant use the coupon...Buy more");
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'You cant use the coupon...Buy more'
                            })
                        } else if (response.date) {
                            console.log("coupon date expired");
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Coupon expired!!!'
                            })
                        } else if (response.amountOkey) {
                            console.log("discount granded");
                            document.getElementById('discount').innerHTML = `₹${response.disAmount}`;;
                            document.getElementById('total1').innerHTML = `₹${response.disTotal}`;
                            console.log("done");
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Discount redeemed',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else if (response.invalid) {
                            console.log("invalid coupon");
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Invalid Coupon!!!'
                            });
                        }
                    }
                });

            } else {
                
                console.error("Element with id 'total1' not found.");
            }
            
        }

    </script>

 <%- include('../partials/user-footer.ejs') %>