<%- include('../partials/shop-header.ejs') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    
                    <% if ( products.length > 0) { %>
                        <div class="col-lg-9">
                            <div class="shop-product-fillter">
                                <div class="totall-product">
                                    <p> We found <strong class="text-brand">exclusive</strong> items for you!</p>
                                </div>
                                <!-- <div class="sort-by-product-area">
                                    <div class="sort-by-cover mr-10">
                                        <div class="sort-by-product-wrap">
                                            <div class="sort-by">
                                                <span><i class="fi-rs-apps"></i>Show:</span>
                                            </div>
                                            <div class="sort-by-dropdown-wrap">
                                                <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                            </div>
                                        </div>
                                        <div class="sort-by-dropdown">
                                            <ul>
                                                <li><a class="active" href="#">50</a></li>
                                                <li><a href="#">100</a></li>
                                                <li><a href="#">150</a></li>
                                                <li><a href="#">200</a></li>
                                                <li><a href="#">All</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sort-by-cover">
                                        <div class="sort-by-product-wrap">
                                            <div class="sort-by">
                                                <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                            </div>
                                            <div class="sort-by-dropdown-wrap">
                                                <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                            </div>
                                        </div>
                                        <div class="sort-by-dropdown">
                                            <ul>
                                                <li><a class="active" href="#">Featured</a></li>
                                                <li><a href="#">Price: Low to High</a></li>
                                                <li><a href="#">Price: High to Low</a></li>
                                                <li><a href="#">Release Date</a></li>
                                                <li><a href="#">Avg. Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
    
    
                            <div class="row product-grid-3">
    
                                <% for (let i = 0; i < products.length; i++) { %>

                                    <% const product = products[i]; %>

                                    <% if (product.category && product.category.status) { %>
    
                                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/shop/<%= products[i]._id %>">
                                                        <!-- <a href="/shop/product-details"> -->
                                                            <img class="default-img" src="/images/cropped/<%= products[i].image[0] %>" alt="">
                                                            <img class="hover-img" src="/images/cropped/<%= products[i].image[1] %>" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                            
                                                        <% if(locals.user) { %>
                                                            <a onclick="addToWishlist('<%- products[i]._id %>')" aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i class="fi-rs-heart"></i></a>
                                                        <% } %>
                                
                                                    </div>

                                                    <% if ( products[i].offer > 0 || (products[i].category && products[i].category.offer > 0)) { %>
                                                        
                                                        <div class="product-badges product-badges-position product-badges-mrg">
                                                            <% var totalOffer = (products[i].offer || 0) + ((products[i].category && products[i].category.offer) || 0); %>

                                                            <% if (totalOffer > 0) { %>
                                                                <span class="hot"><%= totalOffer %>% Off</span>
                                                            <% } else { %>
                                                                <span class="hot">Hot</span>
                                                            <% } %>

                                                        </div>

                                                    <% }else{ %>

                                                        <div class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">Hot</span>
                                                        </div>
                                                        
                                                    <% } %>
                                                    
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <h2><span><%= products[i].brand %></span></h2>
                                                    </div>
                                                    <span><%= products[i].name %></span>
                                                    <!-- <div class="rating-result" title="90%">
                                                        <span>
                                                            <span>90%</span>
                                                        </span>
                                                    </div> -->

                                                    <% if ( products[i].offer > 0 || (products[i].category && products[i].category.offer > 0)) { %>

                                                        <% if (totalOffer > 0) { %>
                                                            <div class="product-price">
                                                                <span>₹<%= (products[i].price-(products[i].price*totalOffer/100)) %> </span>
                                                                <span class="old-price">₹<%= products[i].price %></span>
                                                            </div>
                                                        <% } else { %>
                                                            <div class="product-price">
                                                                <span>₹<%= products[i].price %> </span>
                                                            </div>
                                                        <% } %>

                                                    <% }else{ %>

                                                        <div class="product-price">
                                                            <span>₹<%= products[i].price %> </span>
                                                        </div>
                                                        
                                                    <% } %>

                                                    <div class="product-action-1 show">
                                                        
                                                        <% if(locals.user) { %>
                                                            
                                                            <% if(products[i].quantity<=0) { %>
                                                                <span>Out of Stock</span>
                                                            
                                                            <% } else { %>
                                                                <a  onclick="addToCart('<%- products[i]._id %>')" aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"></i></a>
                                                            <% } %>
        
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    <% } %>
                                
                                <% } %>
    
                                <% if(typeof message !=='undefined' ){ %>
                                    <h6><br>
                                        <%= message %>
                                    </h6>
                                <% } %>
                                
    
    
                            </div>
                            <!--pagination-->
                            <!-- <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div> -->
                        </div>
                    
                    <%  } else { %>

                        <div class="col-lg-9 text-center">

                            <h3>No Products Found</h3>

                        </div>

                    <%  }  %>
                    
                    
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <!-- <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <% for (let i = 0; i < categories.length; i++) { %>
                                    <li><a href="/"><%= categories[i].name %></categories></a></li>
                                <% } %>
                            </ul>
                        </div> -->

                        <!-- Filter  -->
                        <form action="/filter" method="GET" class="filter-form">
                            <div class="sidebar-widget price_range range mb-30">
                                <!-- <div class="widget-header position-relative mb-10 pb-10">
                                    <h5 class="widget-title mb-10">Sort</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div> -->
                                <div class="list-group">
                                    <div class="list-group-item mb-30 mt-10">
                                        <label class="fw-900">Sort By Price</label>
                                        <div class="form-check green_radio mt-10">
                                            <input class="form-check-input" type="radio" name="sort" id="sortRadio" value="lowToHigh">
                                            <label class="form-check-label ms-2"  for="sortCheckbox1"><span>Low To High</span></label>
                                            <br>
                                            <input class="form-check-input" type="radio" name="sort" id="sortRadio2" value="highToLow">
                                            <label class="form-check-label ms-2 " for="sortRadio2"><span>High To Low</span></label>
                                            <br>
                                        </div>
                                    </div>
                                </div>


                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title mb-10">Filter</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div>
                                <div class="price-filter">
                                    <div class="price-filter-inner">
                                        <div id="slider-range"></div>
                                        <div class="price_slider_amount">
                                            <div class="label-input">
                                                <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group">
                                    <div class="list-group-item mb-10 mt-10">
                                        <label class="fw-900">Category</label>
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="category" id="exampleCheckbox1" value="Topwear">
                                            <label class="form-check-label" for="exampleCheckbox1"><span>Topwear</span></label>
                                            <br>
                                            <input class="form-check-input" type="checkbox" name="category" id="exampleCheckbox2" value="Bottomwear">
                                            <label class="form-check-label" for="exampleCheckbox2"><span>Bottomwear</span></label>
                                        </div>
                                        <label class="fw-900 mt-15">Brand</label>
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="brand" id="exampleCheckbox11" value="Allen Solly">
                                            <label class="form-check-label" for="exampleCheckbox11"><span>Allen Solly</span></label>
                                            <br>
                                            <input class="form-check-input" type="checkbox" name="brand" id="exampleCheckbox21" value="Arrow">
                                            <label class="form-check-label" for="exampleCheckbox21"><span>Arrow</span></label>
                                            <br>
                                            <input class="form-check-input" type="checkbox" name="brand" id="exampleCheckbox31" value="H & M">
                                            <label class="form-check-label" for="exampleCheckbox31"><span>H & M</span></label>
                                            <br>
                                            <input class="form-check-input" type="checkbox" name="brand" id="exampleCheckbox41" value="Levi's">
                                            <label class="form-check-label" for="exampleCheckbox41"><span>Levi's</span></label>
                                            <br>
                                            <input class="form-check-input" type="checkbox" name="brand" id="exampleCheckbox51" value="Louis Philippe">
                                            <label class="form-check-label" for="exampleCheckbox51"><span>Louis Philippe</span></label>
                                            <br>
                                            <input class="form-check-input" type="checkbox" name="brand" id="exampleCheckbox61" value="Zara">
                                            <label class="form-check-label" for="exampleCheckbox61"><span>Zara</span></label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-sm btn-default fw-bold mt-3"><i class="fi-rs-filter mr-5"></i> Filter</button>
                            </div>

                        </form>
                        
                        

                        <!-- Product sidebar Widget -->
                        <!-- <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h5><a href="/">Chen Cardigan</a></h5>
                                    <p class="price mb-0 mt-5">$99.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:90%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="/">Chen Sweater</a></h6>
                                    <p class="price mb-0 mt-5">$89.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:80%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="/">Colorful Jacket</a></h6>
                                    <p class="price mb-0 mt-5">$25</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:60%"></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Axios Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Javascript for Add to Cart -->
    <script>

        async function addToCart(productId){

            try {
                
                const res = await axios.post(`/add-to-cart/${productId}`);

                if (res.status === 200 && res.data.success) {

                    // Display SweetAlert notification on success
                    Swal.fire({
                        icon: 'success',
                        title: 'Product Added to Cart!',
                        text: 'The selected product has been added to your cart!',
                        confirmButtonText: 'OK'
                    });

                    // Update the cart count dynamically after adding the product to the cart
                    const cartCountElement = document.getElementById('cart-count');
                    if (cartCountElement) {

                        const currentCartCount = Number(cartCountElement.innerHTML);
                        const updatedCartCount = currentCartCount + 1;

                        // Update the cart count in the UI
                        cartCountElement.innerText = updatedCartCount;
                    }
                    else{

                        const newCartCountElement = document.getElementById('new-cart-count');
                        const currentCartCount = Number(newCartCountElement.innerHTML);
                        const updatedCartCount = currentCartCount + 1;

                        // Update the cart count in the UI
                        newCartCountElement.innerText = updatedCartCount;

                        // Show the new-cart-count element if its value is greater than 0
                        newCartCountElement.style.display = (updatedCartCount > 0) ? 'inline-block' : 'none';

                    }                    

                } else {
                    // Handle error
                    console.error('Error adding to cart:', res.data.error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'There was an error adding the product to your cart.',
                        confirmButtonText: 'OK'
                    });
                }

            } catch (error) {
                console.log(error.message);
            }
        }
        
        async function addToWishlist(productId){

            try {    
                
                const res = await axios.post(`/add-to-wishlist/${productId}`);

                if (res.status === 200 && res.data.success) {
                    // Display SweetAlert notification on success
                    Swal.fire({
                        icon: 'success',
                        title: 'Product Added to Wishlist!',
                        text: 'The selected product has been added to your Wishlist!',
                        confirmButtonText: 'OK'
                    });        
                }else {
                    // Handle error
                    console.error('Error adding to wishlist:', res.data.message);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'The product is already in your wishlist.',
                        confirmButtonText: 'OK'
                    });
                }
            
            } catch (error) {         
                console.log(error.message);
            }

        }

    </script>

<%- include('../partials/user-footer.ejs') %>