<%- include('../partials/user-header.ejs') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">

                    <% if(wishlistItems && wishlistItems.items && wishlistItems.items.length > 0) { %>

                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col" colspan="2">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock Status</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
    
                                        
    
    
                                            <% for (let i = 0; i < wishlistItems.items.length; i++) { %>
    
                                                <tr>
                                                    <td class="image product-thumbnail"><img src="/admin/productImages/<%= wishlistItems.items[i].productId.image[0] %>" alt="#"></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a href="/"><%= wishlistItems.items[i].productId.name %></a></h5>
                                                        <p class="font-xs"><%= wishlistItems.items[i].productId.description %>
                                                        </p>
                                                    </td>
                                                    <td class="price" data-title="Price"><span><%= wishlistItems.items[i].productId.price %> </span></td>
        
                                                    <% if (wishlistItems.items[i].productId.quantity>0){ %>
                                                        <td class="text-center" data-title="Stock">
                                                            <span class="color3 font-weight-bold">In Stock</span>
                                                        </td>
                                                        <td class="text-right" data-title="Cart">
                                                            <button onclick="addToCart('<%- wishlistItems.items[i].productId._id %>')" class="btn btn-main btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                                        </td>
                                                        <td class="action" data-title="Remove"><a onclick="deleteWishlistItem('<%- wishlistItems.items[i].productId._id %> ')" ><i class="fi-rs-trash"></i></a></td>
        
                                                    <% } else{ %>
                                                        <td class="text-center" data-title="Stock">
                                                            <span class="color3 font-weight-bold">Out of Stock</span>
                                                        </td>
                                                        <td class="text-right" data-title="Cart">
                                                            <a href="/shop" class="btn btn-main btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Go to Shop</a>
                                                        </td>
                                                        <td class="action" data-title="Remove"><a onclick="deleteWishlistItem('<%- wishlistItems.items[i].productId._id %> ')" href="#"><i class="fi-rs-trash"></i></a></td>
        
                                                    <% } %>
                                                </tr>
        
                                            <% } %>                                   
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    <% } else{ %>

                        <div class="mt-30 mb-30">
                            <h1>Your Wishlist is Empty</h1>
                        </div>

                        <div class="mt-30 mb-30">
                            <a href="/shop" class="btn btn-main"><i class="fi-rs-shopping-bag mr-10"></i>Go Shopping</a>
                        </div>

                    <% } %>
                    
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Axios Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    

    <!-- Javascript for Cart -->

    <script>

        async function deleteWishlistItem( productId ){

            try {
                
                console.log(productId);
                const res = await axios.post(`/delete-wishlist-item/${productId}`);
                location.reload();

            } catch (error) {   
                console.log(error.message);
            }

        }

        async function addToCart(productId){

            try {
                
                const res = await axios.post(`/add-to-cart/${productId}`);

                // Display SweetAlert notification on success
                Swal.fire({
                    icon: 'success',
                    title: 'Product Added to Cart!',
                    text: 'The selected product has been added to your cart!',
                    confirmButtonText: 'OK'
                });
                

            } catch (error) {             
                console.log(error.message);
            }
        }

    </script>

<%- include('../partials/user-footer.ejs') %>